services:

  agent_service:
    build:
      context: .
      dockerfile: src/api/Dockerfile
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql+asyncpg://postgres:postgres@postgres:5432/aiagents

  streamlit_app:
    build:
      context: .
      dockerfile: src/ui/Dockerfile
    ports:
      - "8501:8501"
    depends_on:
      - agent_service
    environment:
      - AGENT_URL=http://agent_service:8080

volumes:
  postgres_data:
  weaviate_data:
